$black: #3b3c40;
$white: #ffffff;
$grey: #f4f6f8;
$dark-grey: #9293b0;
$purple-light: #f3efff;
$pink: #e50e78;
$purple-gradient: linear-gradient(145deg, #7D68FB 33.75%, #AFA2FB 80.01%);
$button-gradient:  linear-gradient(96deg, #DD3197 0%, #822FAF 101.4%);
$line: #C9C9D7;
$purple-light-gradient:linear-gradient(0deg, rgba(246, 245, 250, 0.63) 0%, #F6F5FA 100%);


$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
