@import './libs/normalize.css';
@import './styles/header.scss';
@import './styles/promo.scss';
@import './styles/swiper.scss';
@import './styles/popular.scss';
@import './styles/sales.scss';
@import './styles/footer.scss';
@import './styles/form.scss';
@import './styles/vars.scss';
@import './styles/cart.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
	min-width: 320px;
	font-family: 'Euclid Circular A', sans-serif;
	color: $black;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

li {
	list-style-type: none;
}

button {
	cursor: pointer;
}

input {
	outline: none;
}

.wrapper {
	max-width: 1920px;
	margin: 0 auto;
	padding: 0px 180px;
	@media screen and (max-width: $xxl) {
		padding: 0 20px;
	}
	@media screen and (max-width: $sm) {
		padding: 0;
	}
}
